div#modal-reg.modal
   div.modal-content
     h4
       | Register for the NBA All-Star Spectacular?
     p
       | Clicking confirm below will register you for this year's game and commit you to paying the $20 buy-in
   div.modal-footer
     a.modal-close.btn.confirm(href=`/user/register`)
       | Register
