extends layout

block content
  div.parallax-container.para-top
    div.parallax
      img(src='images/all-star-17-logo.jpg')
  div.row.section.mid
    div.col.s12.center-align.home-box
      div
        | The World's First NBA All-Star Weekend Pool.
      div.top-footer
        | (...it's gotta be, right?)
    div.col.s4.center-align
      a(href='/login/facebook')
        i.fa.fa-star
        div.splash
          | LOGIN
    div.col.s4
      div#slideshow
        img(src='images/skills-challenge.jpg')
        img(src='images/3pt-shootout.jpg')
        img(src='images/dunk-contest.jpg')    
    div.col.s4.center-align
      a(href='/rules')
        i.fa.fa-star
        div.splash
          | RULES  
  div.parallax-container  
    div.parallax
      img(src='images/kobe-lebron.jpg')
