extends layout

block content
  div.row
    div.col.s6
      div.home-box.center-align
        div
          span.bounceIn.animated-fast
            | THE WORLD'S FIRST 
          br
          span.bounceIn.animated-med
            | NBA ALL-STAR 
          br
          span.bounceIn.animated-slow
            | GAMBLING GAME.
        div.top-footer
          | (...it's gotta be, right?)
        div.row.stars
          div.col.s2.offset-s3
            div#star-five.zoomIn.animated-fast
          div.col.s2
            div#star-five.zoomIn.animated-med
          div.col.s2
            div#star-five.zoomIn.animated-slow
        div.rule-line
          | Read the 
          a(href='/rules')
            | RULES
        div.or
          i
            | - or - 
        a(href='/login/facebook')
          img#fb-login(src='images/fb_button.png')
            
          
    div.col.s6
      div#slideshow
        img(src='images/skills-challenge.jpg')
        img(src='images/3pt-shootout.jpg')
        img(src='images/dunk-contest.jpg')
  
