extends layout

block content
  div.row
    div.col.s6
    div.col.s6
      div#slideshow
        img(src='images/skills-challenge.jpg')
        img(src='images/3pt-shootout.jpg')
        img(src='images/dunk-contest.jpg')
  
