doctype html
html
  head
    title= 'NBA All-Star Spectacular'
    link(rel='icon', href='/images/icon.jpg')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,600')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
  body
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0&appId=1838943476378104&autoLogAppEvents=1"></script>
    ul#dropdown.dropdown-content
      li
        a(href='/results')
          | Standings
      li
        a(href='/allpicks')
          | All Picks
      if user
        if user.superuser === true
          li
            a(href='/editlines')
              | Edit Lines
    div.navbar-fixed
      nav.z-depth-3
        div.nav-wrapper
          a.button-collapse(href='#' data-activates='mobile-nav')
            i.fa.fa-bars
          a.brand-logo(href='/').
            NBA All-Star Spectacular
          ul.left.logo-lead.
            A Level Above presents
          ul.right.hide-on-med-and-down
            if user
              li='Welcome, ' + user.username
              li 
                a(href='/auth/logout')
                  | Logout
            else 
              li
                a.modal-trigger(href='#modal-login')
                  | Login
                //- a(href='/auth/facebook')
                //-   | Login
            li
              a(href='/rules')
                | Rules
            li
              a(href='/picks')
                | Make Picks
            li
              a.dropdown-button(href='#!' data-activates='dropdown')
                | Results 
            li
              a(href='http://www.alafantasysports.com')
                | ALA Home
          ul#mobile-nav.side-nav
            li.nav-div
              img#side-nav-logo(src='/images/all-star-17-logo.jpg')
            if user
              li.center-align='Welcome, ' + user.username
              li 
                a(href='/logout')
                  | Logout
            else 
              li
                a(href='/auth/facebook')
                  | Login
            li
              a(href='/rules')
                | Rules
            li
              a(href='/picks')
                | Make Picks
            li
              a(href='/results')
                | Standings
            li
              a(href='/allpicks')
                | All Picks
            li
              a(href='http://www.alafantasysports.com' target='_blank')
                | ALA Home
      
    div#modal-login.modal
      div.modal-content
        div.row.modal-header
          | Login to A Level Above
        div.row
          div.col.s3.modal-left-col-cont
            img(src='/images/jordan-reb.jpg')
          div.col.s6
            form(action='/auth/login' method='post')
              div.row
                div.input-field.col.s10.offset-s1
                  input#username(type='text' name='username')
                  label(for="username")
                    | Username
              div.row
                div.input-field.col.s10.offset-s1
                  input#password.validate(type='password' name='password')
                  label(for="password")
                    | Password
              div.row.center-align
                button.btn.login-form.confirm(type="submit")
                  | Login
                button.btn.login-form.back
                  | Back
            div.row
              div.col.s12.center-align
                | First time here?
                br
                | Registering is quick and easy.
            div.row
              div.col.s12.center-align
                | - or - 
            div.row.center-align
              div.login-img-box
                img(src='/images/sign-in-with-google.svg')
            div.row.center-align
              <div class="fb-login-button" data-width="" data-size="large" data-button-type="continue_with" data-layout="default" data-auto-logout-link="false" data-use-continue-as="false"></div>
          div.col.s3.modal-left-col-cont
            img(src='/images/kyrie-drib.jpg')

          
              
          
      //- 
      //- div.modal-footer
      //-   a.modal-close.waves-effect.waves-green.btn-flat(href='#!')
      //-     | Agree
    
      
    div.spacer
      block content
        

    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
    script(src='javascripts/script.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js')
