doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Raleway:400,700,400italic,600')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css')
    script(src='https://use.fontawesome.com/7c4332140c.js')
  body
    ul#dropdown.dropdown-content
      li
        a(href='/results')
          | Standings
      li
        a(href='/allpicks')
          | All Picks
      if user
        if user.superuser === true
          li
            a(href='/editlines')
              | Edit Lines
    div.navbar-fixed
      nav.z-depth-3
        div.nav-wrapper
          a.brand-logo(href='/').
            NBA All-Star Spectacular
          ul.left.logo-lead.
            A Level Above presents
          ul#nav-mobile.right.hide-on-med-and-down
            if user
              li='Welcome, ' + user.username
              li 
                a(href='/logout')
                  | Logout
            else 
              li
                a(href='/login/facebook')
                  | Login
            li
              a(href='/rules')
                | Rules
            li
              a(href='/picks')
                | My Picks
            li
              a.dropdown-button(href='#!' data-activates='dropdown')
                | Results 
                i.fa.fa-chevron-circle-down(aria-hidden='true')
            li
              a(href='http://www.alafantasysports.com')
                | ALA Home
      
    div.spacer
      block content
    
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js')
    script( src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js')
    script(src='javascripts/script.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.1/moment.js')
