extends layout

block content
  div.row
    div.col.s10.offset-s1
      table
        thead
          tr
            th.
              Event
            th.
              Type
            th.
              Wager
            th.
              Odds
            th.
              Risk
            th.
              To Win
            th.
              Confirm
        tbody
                        
