extends layout

block content
  table
    thead
      tr
        th.
          Rank
        th.
          Entrant
        th.
          Rising Stars
        th.
          Skills Challenge
        th.
          Three Point Contest
        th.
          Slam Dunk Contest
        th.
          All-Star Game
        th.
          TOTAL $
    tbody
      
