extends layout

block content
  div.row
    div.col.s8#rules-box
      div#rules-head.center-align
        | :: THE RULES ::
      div.rules
        ul
          li
            | - $20 buy-in. Venmo to @mikeduin, or Square Cash / 
            a(href='https://www.chase.com/personal/mobile-online-banking/p2p').
              bank transfer 
            | to michael.s.duin@gmail.com. Number of places paid will depend on number of entrants. 100% of buy-ins are paid out as prizes.
          li
            b
              | - Each entrant has $1,000 in fake dollars to spread out on bets over NBA All-Star Weekend. 
          li
            | - Each entrant MUST wager at least $100 on each of the three All-Star Satuday Night events (Skills Challenge, Three-Point Contest, and Dunk Contest) and the All-Star Game. This rule is in place to avoid an entrant winning the pool by placing a single $1,000 bet on something; having a stake in all of the weekend's events is the idea here.
          li
            | - The bets to meet the $100 minimums can be of any type (e.g., your All-Star Game bet(s) could be on the MVP or the point spread) and can consist of one or multiple bets (e.g., you could bet $40 on three different players to win the three-point contest). The $100 minimums are tracked for you on the 
            a(href='/picks').
              picks page.
          li
            | - Beyond that, the rest of your bankroll can be spread out however you'd like.
          li
            | - Rising Stars lines lock at 6 PM PST on Friday, 2/17. The rest of your picks -- both for the All-Star Saturday Night events and for Sunday's All-Star Game -- are due by 5 PM PST on Saturday, 2/18.
          li
            | Email michael.s.duin@gmail.com with any other questions.
    div.class.col.s3
      div
        img.mj-kobe(src='http://www.neontommy.com/sites/default/files/users/user1477/3686675652_402a2acff8_o.jpg')
      div
        img.phx-jerseys(src='http://www.nba.com/media/95allstar_627_071105.jpg')
