extends layout

block content
  table
    thead
      tr
        th.
          Entrant
        th.
          Skills Challenge
        th.
          3Pt Shootout
        th.
          Dunk Contest
        th.
          TOTAL
    tbody
      
