body
  background: url('../images/92_magic_op.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover
  font-family: 'Raleway', sans-serif

a
  color: #94C8EF

nav
  background-color: #010F3C !important
  font-weight: 600
  padding-left: 10px
  ul
    li
      color: #C2C2C2
      a
        &:hover
          color: #94C8EF

.navbar-fixed
  height: 0


.brand-logo
  margin-top: 4px

.logo-lead
  @media screen and (min-width: 300px)
    margin-top: -20px
    margin-left: 40%
    color: #B4B4B4
    font-size: 12px
    font-weight: 800
  @media screen and (min-width: 996px)
    margin-top: -21px
    margin-left: 10px

.spacer
  margin-top: 20px

.home-box
  height: 400px
  background-color: transparent
  margin-top: 3%
  font-size: 48px
  font-weight: 800
  color: #010F3C

.top-footer
  font-size: 18px
  margin-bottom: 10px

.bott-sec
  border-top: solid 1px black

.white
  color: white !important

#fb-login
  max-width: 400px
  display: block
  margin: auto
  margin-top: -5%

#slideshow
  position: relative
  img
    margin-left: 12.5%
    margin-top: 3%
    max-width: 75%
    position: absolute
    left: 0
    top: 0
    border: solid 8px #010F3C

// RULES PAGE STYLES
#rules-box
  background-color: white
  color: #010F3C
  border: solid 5px #010F3C
  margin-left: 20px

#rules-head
  font-size: 36px
  font-weight: 800
  border-bottom: solid 2px #353334

.rules
  font-size: 18px
  li
    margin-top: 10px

.mj-kobe, .phx-jerseys
  max-width: 300px
  border: solid 5px
  display: block
  margin: auto
  margin-bottom: 15px

// RESULTS PAGE STYLES
.res-total
  font-size: 20px
  font-weight: 600

#resultTable
  background-color: white
  border: solid 5px #010F3C
  border-top: dashed 2px #D0D0D0
  tr
    td
      text-align: center

#resultHead
  background-color: white
  color: #010F3C
  border: solid 5px #010F3C
  border-bottom: none
  font-size: 36px
  font-weight: 800
  text-align: center

// WAGER PAGE STYLES
#wagerTable
  border-collapse: collapse
  border: solid 5px #404040
  border-radius: 10px
  background-color: white
  tr
    line-height: 20px
    height: 10px
    padding: 0
    margin: 0
  td, th
    padding-top: 0
    padding-bottom: 0

.picks-head
  color: #010F3C
  font-weight: 800
  background-color: white
  border: solid 5px #404040
  margin-top: -10px
  margin-bottom: 15px
  font-size: 34px
  border-radius: 10px

.picks-desc
  color: black
  font-size: 14px
  font-weight: 400
  text-align: left
  display: block
  margin-left: 5px
  margin-bottom: 10px

.hidden
  display: none

.wager-col
  width: 200px

.curr-col
  width: 80px
  input
    width: 60px

.pick-btn
  background-color: #010F3C !important
  color: #999999 !important
  font-size: 10px
  font-weight: 600
  width: 120px
  &:hover
    color: white !important
    background-color: #053497 !important
    width: 120px

.header
  margin-left: 20px
  color: #010F3C
  font-size: 24px
  font-weight: 600
  border-bottom: solid 1px #C2C2C2

#minimums
  height: 110px
  background-color: #F9F3E4
  border: solid 5px #010F3C
  border-radius: 20px
  margin-left: -15px
  margin-top: -10px
  position: fixed
  width: inherit

.min-header
  color: #010F3C
  font-size: 24px
  font-weight: 600
  border-bottom: solid 1px #C2C2C2

#minrow
  margin-top: -10px

#asgmin, #dunkmin, #threeptmin, #skillsmin
  margin-left: 5px
  color: #972D2F
  font-weight: 600

.min-met
  margin-left: 5px
  color: #2F5032
  font-weight: 600

#ticket
  height: 65%
  background-color: white
  border: solid 5px #010F3C
  border-radius: 20px
  margin-top: 120px
  margin-left: -15px
  padding-right: 20px
  position: fixed
  width: inherit
  #remaining
    margin-top: -20px
  #balance
    margin-left: 3px
    font-weight: 600
  .wager-list
    display: inline
  table
    border-collapse: collapse
    tr
      line-height: 20px
      height: 10px
      padding: 0
      margin: 0
    td, th
      padding-top: 0
      padding-bottom: 0

.toasted
  background-color: #053497 !important
  border-radius: 10px !important

.bet-error
  background-color: #972D2F !important
  border-radius: 10px !important


#star-five
  margin: 50px 0
  position: relative
  display: block
  color: red
  width: 0px
  height: 0px
  border-right:  100px solid transparent
  border-bottom: 70px  solid red
  border-left:   100px solid transparent
  -moz-transform:    rotate(35deg)
  -webkit-transform: rotate(35deg)
  -ms-transform:     rotate(35deg)
  -o-transform:      rotate(35deg)

#star-five:before
  border-bottom: 80px solid red
  border-left: 30px solid transparent
  border-right: 30px solid transparent
  position: absolute
  height: 0
  width: 0
  top: -45px
  left: -65px
  display: block
  content: ''
  -webkit-transform: rotate(-35deg)
  -moz-transform:    rotate(-35deg)
  -ms-transform:     rotate(-35deg)
  -o-transform:      rotate(-35deg)


#star-five:after
  position: absolute
  display: block
  color: red
  top: 3px
  left: -105px
  width: 0px
  height: 0px
  border-right: 100px solid transparent
  border-bottom: 70px solid red
  border-left: 100px solid transparent
  -webkit-transform: rotate(-70deg)
  -moz-transform:    rotate(-70deg)
  -ms-transform:     rotate(-70deg)
  -o-transform:      rotate(-70deg)
  content: ''
