html

body
  background: url('../images/92_magic_op.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover


a
  color: #94C8EF

nav
  background-color: #010F3C !important
  font-weight: 600
  padding-left: 10px
  ul
    li
      color: #C2C2C2

.spacer
  margin-top: 20px

#slideshow
  position: relative
  img
    margin-left: 12.5%
    margin-top: 3%
    max-width: 75%
    position: absolute
    left: 0
    top: 0
    border: solid 8px #010F3C

// #background-rotate
//   position: relative
//   img
//     min-width: 100%
//     position: absolute
//     left: 0
//     top: 0
