body {
  background: url("../images/92_magic_op.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Raleway", sans-serif; }

a {
  color: #94C8EF; }

nav {
  background-color: #010F3C !important;
  font-weight: 600;
  padding-left: 10px; }
  nav ul li {
    color: #C2C2C2; }
    nav ul li a:hover {
      color: #B6102A; }

.navbar-fixed {
  height: 0; }

.fa-bars {
  font-size: 28px !important; }

#dropdown {
  background-color: #010F3C; }
  #dropdown a {
    color: #C2C2C2; }
    #dropdown a:hover {
      color: black; }

.brand-logo {
  margin-top: 4px; }

@media screen and (min-width: 300px) {
  .logo-lead {
    margin-top: -20px;
    margin-left: 30%;
    color: #B4B4B4;
    font-size: 12px;
    font-weight: 800; } }
@media screen and (min-width: 996px) {
  .logo-lead {
    margin-top: -21px;
    margin-left: 10px; } }

.para-top {
  margin-top: -20px; }

.spacer {
  margin-top: 20px; }

.home-box {
  background-color: transparent;
  font-size: 40px;
  font-weight: 800;
  color: #010F3C; }
  @media screen and (min-width: 1060px) {
    .home-box {
      font-size: 48px; } }

.fa-star {
  font-size: 200px !important;
  color: #010F3C; }
  .fa-star:hover {
    color: #B6102A; }
    .fa-star:hover + .splash {
      color: #B6102A; }

.splash {
  font-size: 36px;
  color: #010F3C;
  font-weight: 800; }

.mid {
  height: 450px; }

.rule-line {
  margin-top: -20px; }

.top-footer {
  font-size: 18px;
  margin-bottom: 10px;
  font-style: italic; }

#fb-login {
  max-width: 300px;
  display: block;
  margin: auto;
  margin-top: -5%; }

#slideshow {
  position: relative; }
  #slideshow img {
    margin-left: 3%;
    max-height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border: solid 8px #010F3C; }
    @media screen and (min-width: 1060px) {
      #slideshow img {
        margin-left: 5%; } }
    @media screen and (min-width: 1200px) {
      #slideshow img {
        margin-left: 8%; } }
    @media screen and (min-width: 1250px) {
      #slideshow img {
        margin-left: 11%; } }
    @media screen and (min-width: 1250px) {
      #slideshow img {
        margin-left: 14%; } }
    @media screen and (min-width: 1350px) {
      #slideshow img {
        margin-left: 17%; } }

.or {
  font-size: 24px;
  margin-top: -15px;
  margin-bottom: 2px; }

.side-nav {
  background-color: #010F3C !important; }
  .side-nav li {
    color: white !important; }
  .side-nav a {
    color: #C2C2C2 !important; }
    .side-nav a:hover {
      color: #94C8EF !important; }

#rules-box {
  background-color: white;
  color: #010F3C;
  border: solid 5px #010F3C;
  margin-left: 20px; }

#rules-head {
  font-size: 36px;
  font-weight: 800;
  border-bottom: dashed 2px #D0D0D0; }

.rules {
  font-size: 18px; }
  .rules li {
    margin-top: 10px; }

.mj-kobe, .phx-jerseys {
  max-width: 300px;
  border: solid 5px;
  display: block;
  margin: auto;
  margin-bottom: 15px; }

.res-total {
  font-size: 20px;
  font-weight: 600; }

.chip {
  white-space: nowrap; }

#resultTable {
  background-color: white;
  border: solid 5px #010F3C; }
  #resultTable th {
    text-align: center; }
  #resultTable tr td {
    text-align: center; }

.resultHead {
  color: #010F3C;
  font-size: 36px;
  font-weight: 800;
  border-bottom: dashed 2px #D0D0D0;
  line-height: 20px; }

.subHead {
  margin-top: -10px !important;
  border-bottom: dashed 2px #D0D0D0;
  line-height: 1px !important; }

.wagerTable {
  border-collapse: collapse;
  border: solid 5px #010F3C;
  background-color: white; }
  .wagerTable tr {
    line-height: 20px;
    height: 10px;
    padding: 0;
    margin: 0; }
    .wagerTable tr .picks-desc {
      color: black;
      font-size: 14px;
      font-weight: 400;
      text-align: left;
      line-height: 20px;
      padding-top: 2px;
      padding-bottom: 4px;
      border-bottom: 1px transparent solid; }
    .wagerTable tr #desc-bott {
      padding-bottom: 8px;
      border-bottom: dashed 2px #D0D0D0; }
  .wagerTable th {
    text-align: center; }
  .wagerTable td {
    padding-top: 0;
    padding-bottom: 0; }
  .wagerTable .resultHead {
    border-bottom: none; }

.allpicks th {
  padding-top: 5px !important;
  padding-bottom: 10px !important; }

.bott {
  margin-bottom: 0;
  padding-bottom: 10px; }

.hidden {
  display: none; }

.wager-col {
  width: 200px; }

.curr-col {
  width: 80px; }
  .curr-col input {
    width: 60px; }

.not-logged {
  margin-top: -15px; }

.pick-btn {
  background-color: #010F3C !important;
  color: #999999 !important;
  font-size: 10px;
  font-weight: 600;
  width: 120px; }
  .pick-btn:hover {
    color: white !important;
    background-color: #053497 !important;
    width: 120px; }

.header {
  margin-left: 20px;
  color: #010F3C;
  font-size: 24px;
  font-weight: 600;
  border-bottom: solid 1px #C2C2C2; }

#minimums {
  background-color: #F9F3E4;
  border: solid 5px #010F3C;
  border-radius: 20px;
  margin-left: -15px;
  margin-top: -10px;
  position: fixed;
  width: inherit; }

.min-header {
  color: #010F3C;
  font-size: 24px;
  font-weight: 600;
  border-bottom: solid 1px #C2C2C2; }

#minrow {
  margin-top: -10px; }

#asgmin, #dunkmin, #threeptmin, #skillsmin {
  margin-left: 5px;
  color: #972D2F;
  font-weight: 600; }

.min-met {
  margin-left: 5px;
  color: #2F5032;
  font-weight: 600; }

@media screen and (min-width: 300px) {
  #ticket {
    height: 65%;
    background-color: white;
    border: solid 5px #010F3C;
    border-radius: 20px;
    margin-left: -15px;
    margin-top: 170px;
    padding-right: 20px;
    position: fixed;
    width: inherit; }
    #ticket #remaining {
      margin-top: -20px;
      font-size: 18px; }
    #ticket #balance {
      margin-left: 3px;
      font-weight: 600; }
    #ticket .wager-list {
      display: inline; }
    #ticket table {
      border-collapse: collapse; }
      #ticket table tr {
        line-height: 20px;
        height: 10px;
        padding: 0;
        margin: 0; }
      #ticket table td, #ticket table th {
        padding-top: 0;
        padding-bottom: 0; } }
@media screen and (min-width: 1070px) {
  #ticket {
    margin-top: 120px; } }

.toasted {
  background-color: #053497 !important;
  border-radius: 10px !important; }

.bet-error {
  background-color: #972D2F !important;
  border-radius: 10px !important; }

.select-pad {
  padding-top: 0px;
  padding-bottom: 0px; }

.th-pad {
  padding-bottom: 2.5%;
  text-align: left !important; }

ul.dropdown-content.select-dropdown li span {
  color: #94C8EF; }

.win-btn {
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #2F5032 !important; }

.lose-btn {
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #972D2F !important; }

.update-btn {
  margin-bottom: 3px;
  margin-top: 3px;
  background-color: #0842B8 !important; }

.add-btn {
  background-color: #94C8EF !important; }

.delete-btn {
  background-color: #D7503C !important;
  margin-left: 80px; }

.gradeHead {
  background-color: white;
  color: #010F3C;
  border: solid 5px #010F3C;
  border-bottom: none;
  font-size: 36px;
  font-weight: 800;
  text-align: center; }

.rem-pad {
  padding: none; }

.inp-sm {
  width: 50px !important; }

.inp-md {
  width: 110px !important; }

.inp-lg {
  width: 130px !important; }

#ins-row {
  border-bottom: dashed 2px black; }

/*# sourceMappingURL=style.css.map */
